.albums {
    background-color: rgb(149, 149, 211);
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    flex-wrap: wrap;
}

.album {
    display: flex;
    height: 100%;
    width: 300px;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(31, 105, 105);
}